*.env
.DS_Store
.env.local
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
.serverless/
include/
docs/_build/
.vscode
node_modules/

# Coverage reportsf
htmlcov/
.coverage
.coverage.*
*,cover